// PER IL JAVASCRIPT POMODORO
#avanzamento {
  width: 100%;
  height: 50px;
  background-color: yellow;
  background: linear-gradient(to right, red 5%, yellow 20%, yellow 35%, green 50%);
  //outline: 2px solid $outline-color;
}

#display {
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: black;
  outline: 2px solid $outline-color;
}
